<div>
  <h1>Livros Disponiveis:</h1>
  <a href="/"><h3>Adicionar Livros</h3></a>
    {{#each Books}}
      <div>#{{this.id}} - <b><span>{{this.title}}</span></b> - <span>{{this.pages}}</span></div>
      <hr>
    {{/each}}
</div>