<div>
  <h1>Livro Disponivel:</h1>
  <a href="/books"><h3>Ver todos os Livros</h3></a>
      <div>
        #{{Book.id}} - 
        <b><span>{{Book.title}}</span></b> - 
        <span>{{Book.pages}}</span>
      </div>
</div>