<!DOCTYPE html>

<div class="container">
  {{#each users}}
      <div class="item">
        <p>{{this.name}}</p>
        <br />
        <a href="/users/{{this.id}}">
          <p>ver detalhes</p>
        </a>
        <a href="{{ this.occupation }}" target="blank" >ver link</p></a>
      </div>
  {{/each}}

</div>