<form class="from-pai" method="post" action="/books/updatebook">
  <h1>Edite seu Livro</h1>
  <p>Preencha os dados abaixo</p>

  <input type="hidden" name="id" value="{{Book.id}}" >

  <div class="from">
    <label for="title">Título:</label><br>
    <input type="text" name="title" placeholder="Digite o Título" value="{{Book.title}}" >
  </div>

  <div class="from">
    <label for="pages">Número de páginas:</label>
    <input type="number" name="pages" placeholder="Qunatas páginas o livro tem?" value="{{Book.pages}}" >
  </div>
    <button type="submit">Editar</button>
    <a href="/books"><h5>Ver Livros</h5></a>
</form>